


@font-face {
  font-family: 'comfortaa';
  src: url(fonts/Comfortaa-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'montserett';
  src: url(fonts/Montserrat-Regular.ttf) format('truetype');
}