
@font-face {
  font-family: 'Comfortaa';
  src: url(./fonts/Comfortaa-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: url(./fonts/Montserrat-VariableFont_wght.ttf) format('truetype');
}

$color-foam-blue: #DCEAE7;
$color-cloudy-white: #FFFFFF;
$color-kelp-green: #1C4D48;
$color-charcoal-black: #333333;